.counter{
    &-block{
        text-align: center;
    }
    &-icon{
        width: 80px;
    }
    &-number{
        color: $white;
        font-size: 2.85rem;
        line-height: 1;
        font-weight: 900;
        letter-spacing: 0.5px;
        margin-bottom: 15px;
    }
    &-text{
        color: $white;
        font-size: 1.05rem;
        font-weight: 300;
        margin: 0;
    }
}