.section{
    padding: 80px 0;
    
    &-bg-light{
        background-color: $lightGrey;
    }
    &-bg-blue{
        background-color: $mainBlue;
    }
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.d-block{
    display: block;
}
.p-b-0{
    padding-bottom: 0;
}
.m-b-15{
    margin-bottom: 15px;
}